.o-nas {
  width: 80%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.o-nas h1,
.o-nas .hejka {
  text-align: center;
  color: #8a5fe2;
}

.o-nas h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.o-nas h3 {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #bbb;
}

.o-nas h3 strong {
  font-size: 1.4rem;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.o-nas ul {
  margin-left: 20px;
  list-style-type: disc;
}

.o-nas ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #bbb;
}

.o-nas ul li strong {
  color: #fff;
}

.o-nas .text-onas {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .o-nas {
    width: 90%;
    padding: 20px;
  }

  .o-nas h1 {
    font-size: 2rem;
  }

  .o-nas h3 {
    font-size: 1rem;
  }
}
